{% extends 'base.html' %}
{% block title %} Хобі {% endblock %}

{% block body %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Хоббі</h1>
    </div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div class="row">
        <div class="container col-md-6 col-lg-6">
            <h3>На цій сторінці я розповім про свої захоплення</h3>
            <table class="table table-secondary">
                <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Хоббі</th>
                    <th scope="col">Опис</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Відеоігри</td>
                    <td>Дозволяє "вбивати" час в важкі моменти, або просто розважитись</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Футбол</td>
                    <td>Спорт це завжди добре, особливо коли є змагальна атмосфера</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Настільні ігри</td>
                    <td>Дозволяє весело провести час з рідними або друзями</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Фільми та серіали</td>
                    <td>Інколи хочеться подивитись цікаву історію яка може залишитись в пам'яті назавжди</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}